.social {
  padding: 28px 0 25px;
  border-bottom: 1px solid @footer-border;
}

.social__list {
  .list-reset;
  margin: 0 auto;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
