.catalog-item__wrapper {
  display: block;
  justify-self: center;
  position: relative;
  width: 230px;
  padding: 25px 0 0 28px;
  min-height: 103px;
}

.catalog-item__wrapper::before {
  content: "";
  width: 204px;
  height: 1px;
  border-top: 1px solid @base-border;
  position: absolute;
  bottom: 0;
}

.catalog-item__link {
  line-height: 24px;
}

.catalog-item__discription {
  padding: 6px 0 18px;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}

.catalog-item__price-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 21px 27px 25px;
}

.catalog-item__price {
  position: relative;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}

.catalog-item__button {
  position: relative;
  width: 20px;
  height: 19px;
}

.catalog-item__card-icon {
  position: absolute;
  top: 0;
  right: 0;
}
