.catalog-item__link {
  line-height: 24px;
}

.catalog-item__discription {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
}
