.color-group {
  padding-bottom: 34px;
}

.color-group__title {
  padding: 0;
  margin: 0;
  padding-right: 16px;
  text-transform: uppercase;
  color: @green-light;
  line-height: 16px;
}

.color-group__list {
  .list-reset;
  padding-top: 24px;
  gap: 23px;
  display: flex;
  flex-direction: column;
}

// Tablet

@media (min-width: @tablet) {
  .color-group {
    padding-bottom: 0;
  }

  .color-group__title {
    position: absolute;
    top: 16px;
    left: 0;
  }

  .color-group__list {
    display: grid;
    grid-template-columns: repeat(2, 239px);
    padding: 0;
    padding-left: 166px;
  }
}

// Desktop

@media (min-width: @desktop) {
  .color-group__title {
    padding: 0;
    width: 100px;
    top: 18px;
    left: 62px;
  }

  .color-group__list {
    grid-template-columns: repeat(3, 240px);
    gap: 24px 22px;
    padding-left: 176px;
  }
}
