.filter-phone {
  padding-bottom: 35px;
}

.filter-phone__title {
  margin: 0;
  padding: 0;
  padding-right: 28px;
  text-transform: uppercase;
  color: @green-light;
  line-height: 16px;
}

.filter-phone__input {
  border: none;
  position: relative;
  margin: 0;
  padding: 19px 0 17px;
  font-size: 17px;
  line-height: 18px;
  border-bottom: 2px solid @base-text;
  width: 100%;
}

.filter-phone__container::after {
  position: absolute;
  content: "";
  background-image: url("../img/form/phone.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 24px;
  top: 14px;
  right: 7px;
  z-index: 10;
}

.filter-phone__container {
  position: relative;
}

// Tablet

@media (min-width: @tablet) {
  .filter-phone__title {
    position: absolute;
    top: 16px;
    left: 0;
  }

  .filter-phone__input {
    padding: 13px 18px 15px;
    font-size: 19px;
    background-color: transparent;
  }

  .filter-phone__input:hover,
  .filter-phone__input:focus {
    outline: none;
    border-color: #62d1ba;
  }

  .filter-phone__input:active {
    border-color: #62d1ba;
  }

  .filter-phone__container {
    padding-left: 167px;
  }

  .filter-phone__container::after {
    top: 11px;
    right: 25px;
  }
}

// Desktop

@media (min-width: @desktop) {
  .filter-phone__container {
    padding-left: 176px;
    width: 875px;
  }

  .filter-phone__container::after {
    top: 12px;
    right: 8px;
  }

  .filter-phone__title {
    padding: 0;
    left: 62px;
    width: 100px;
  }
}
