.filters__group {
  padding: 0;
  margin: 0;
  border-top: 1px @green-light solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.filters__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: @footer-color;
  font-size: 27px;
  line-height: 30px;
  min-height: 177px;
}

.filters__wrapper {
  padding: 17px 30px 0;
}

.filters__discription {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.filters__button {
  font-size: 17px;
  line-height: 16px;
  width: 100%;
}

.filters__fields-required {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @alternate-text;
}
