.filter-email {
  padding-bottom: 18px;
}

.filter-email__title {
  padding: 0;
  padding-right: 20px;
  text-transform: uppercase;
  color: @green-light;
  line-height: 16px;
}

.filter-email__input {
  border: none;
  position: relative;
  margin: 0;
  padding: 19px 0 15px;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  border-bottom: 2px solid @base-text;
}

.filter-email__container::after {
  position: absolute;
  content: "";
  background-image: url("../img/form/mail.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 21px;
  top: 19px;
  right: 3px;
}

.filter-email__container {
  position: relative;
  padding-bottom: 16px;
  padding-top: 2px;
}


// Tablet

@media (min-width: @tablet) {
  .filter-email {
    padding-bottom: 0;
  }

  .filter-email__title {
    position: absolute;
    top: 8px;
    left: 0;
  }

  .filter-email__container {
    padding-left: 167px;
    padding-bottom: 0;
  }

  .filter-email__container::after {
    top: 5px;
    right: 22px;
  }

  .filter-email__input {
    font-size: 19px;
    padding-top: 0;
    padding-left: 18px;
    background-color: transparent;
  }

  .filter-email__input:hover,
  .filter-email__input:focus {
    outline: none;
    border-color: #62d1ba;
  }

  .filter-email__input:active {
    border-color: #62d1ba;
  }
}

// Desktop

@media (min-width: @desktop) {
  .filter-email__title {
    width: 100px;
    padding: 0;
    top: 6px;
    left: 62px;
  }

  .filter-email__container {
    padding-left: 176px;
    width: 875px;
  }

  .filter-email__container::after {
    right: 4px;
  }
}
