.filter-name__title {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  text-transform: uppercase;
  color: @green-light;
  line-height: 16px;
}

.filter-name__list {
  .list-reset;
  padding-top: 29px;
  padding-bottom: 14px;
}

.filter-name__item {
  display: flex;
  flex-direction: column;
}

// Tablet

@media (min-width: @tablet) {
  .filter-name__item {
    flex-direction: row;
    font-size: 19px;
  }

  .filter-name__title {
    padding-top: 67px;
  }
}

// Desktop

@media (min-width: @desktop) {
  .filter-name {
    padding: 0;
    margin: 0 auto;
    width: 700px;
    padding-left: 4px;
  }

  .filter-name__title {
    position: absolute;
    padding: 0;
    top: 10px;
    left: -112px;
  }

  .filter-name__list {
    width: 700px;
    padding: 0;
  }
}
