.filter-name__title {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  text-transform: uppercase;
  color: @green-light;
  line-height: 16px;
}

.filter-name__list {
  .list-reset;
  padding-top: 29px;
  padding-bottom: 14px;
}

.filter-name__item {
  display: flex;
  flex-direction: column;
}

// Tablet

@media (min-width: @tablet) {
  .filter-name__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 22px;
    padding: 0;
    padding-left: 166px;
  }

  .filter-name__item {
    flex-direction: row;
    font-size: 19px;
  }

  .filter-name__title {
    position: absolute;
    padding: 0;
    top: 20px;
    left: 0;
  }
}

// Desktop

@media (min-width: @desktop) {
  .filter-name__title {
    width: 100px;
    left: 62px;
  }

  .filter-name__list {
    gap: 24px;
    padding-left: 178px;
    width: 875px;
  }
}
