.filters__group {
  position: relative;
  padding: 0;
  margin: 0;
  border-top: 1px @green-light solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.filters__title {
  position: relative;
  margin: 0;
  background-color: @footer-color;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding: 72px 30px;
}

.filters__wrapper {
  padding: 17px 30px 54px;
}

.filters__discription {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.filters__button {
  padding: 16px;
  font-size: 17px;
  line-height: 16px;
  width: 260px;
}

.filters__fields-required {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @alternate-text;
}


// Tablet

@media (min-width: @tablet) {
  .filters__container {
    padding: 50px;
  }

  .filters__form {
    padding: 0;
  }

  .filters__title {
    font-size: 43px;
    line-height: 50px;
    padding: 31px 50px 87px;
  }

  .filters__title::before {
    position: absolute;
    content: "";
    background-image: url("../img/zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    width: 100%;
    height: 24px;
    bottom: 0;
    left: 0;
  }

  .filters__wrapper {
    padding: 0;
    padding-bottom: 50px;
  }

  .filters__container:nth-child(2n) {
    background-color: #f1f1f1;
  }

  .filters__container--type {
    padding-bottom: 38px;
  }

  .filters__discription {
    padding: 54px 50px 12px;
    font-size: 17px;
    line-height: 30px;
  }

  .filters__group {
    border: none;
  }

  .filters__footer-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .filters__fields-required {
    padding: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .filters__button {
    margin: 0;
    width: 230px;
  }
}


// Desktop

@media (min-width: @desktop) {
  .filters__discription {
    width: 1150px;
    margin: 0 auto;
    padding: 100px 225px 14px;
  }

  .filters__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 112px;
    padding-top: 28px;
  }

  .filters__title::before {
    background-image: url("../img/zigzag-fill-desktop.svg");
    width: 100%;
    height: 34px;
  }

  .filters__container-group {
    width: 1050px;
    margin: 0 auto;
  }

  .filters__container--type {
    padding-bottom: 34px;
    width: 1150px;
    margin: 0 auto;
  }

  .filters__container--text {
    width: 1150px;
    padding-bottom: 45px;
    margin: 0 auto;
  }

  .filters__container--name {
    width: 1150px;
    margin: 0 auto;
  }

  .filters__footer-wrapper {
    padding: 0 34px;
  }
}
