.form-text__title {
  padding: 0;
  padding-right: 22px;
  text-transform: uppercase;
  color: @green-light;
  line-height: 16px;
}

.form-text__add-input {
  margin: 17px 0 13px;
  padding-top: 5px;
}

.form-text__input {
  margin: 0;
  padding: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: rgb(0, 0, 0, 0.3);
  border: 2px solid @alternate-text;
  resize: none;
  min-height: 142px;
  width: 100%;
}

.form-text__input:hover {
  border-color: #62d1ba;
}

.form-text__input:focus,
.form-text__input:active {
  outline: none;
  border-color: #62d1ba;
}
// Tablet

@media (min-width: @tablet) {
  .form-text__title {
    padding-top: 50px;
  }

  .form-text__input {
    font-size: 19px;
  }
}

// Desktop

@media (min-width: @desktop) {

}
