.input-text {
  position: relative;
  margin: 0;
  padding-bottom: 23px;
  line-height: 18px;
}

.input-text::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  border-bottom: 2px solid @base-text;
  bottom: 22px;
}

.input-text:hover::before {
  border-color: #62d1ba;
}

.input-text__label {
  padding-bottom: 18px;
}

.input-text__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: none;
  color: rgb(0, 0, 0, 0.3);
  padding: 0;
  padding-bottom: 14px;
}

.input-text__input:focus,
.input-text__input:active {
  outline: none;
}

// Tablet

@media (min-width: @tablet) {
  .input-text__input {
    width: 100%;
    padding-left: 18px;
    font-size: 19px;
    border-bottom: 2px solid @base-text;
  }

  .input-text::before {
    display: none;
  }

  .input-text__label {
    padding-right: 24px;
    font-size: 19px;
  }
}

// Desktop

@media (min-width: @desktop) {
  .input-text {
    padding-bottom: 34px;
  }

  .input-text:last-child {
    padding-bottom: 0;
  }

  .input-text__label {
    padding-top: 6px;
  }

  .input-text__input {
    padding-bottom: 8px;
  }
}
