.input-text {
  position: relative;
  margin: 0;
  padding-bottom: 24px;
  line-height: 18px;
}

.input-text::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 260px;
  border-bottom: 2px solid @base-text;
  bottom: 22px;
}

.input-text__label {
  padding-bottom: 18px;
}

.input-text__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: none;
  color: rgb(0, 0, 0, 0.3);
  padding: 0;
  padding-bottom: 14px;
}

// Tablet

@media (min-width: @tablet) {}

// Desktop

@media (min-width: @desktop) {}
