// Цвет фона
@base-color: #ffffff;
@green-light: #63d1bb;
@green-dark:#56c3b2;
@footer-color: #f1f1f1;


// Цвет шрифта
@base-text: #000000;
@alternate-text: #444444;

// Viewports
@tablet: 768px;
@desktop: 1150px;

// Border-color
@footer-border: #e5e5e5;
@base-border: #ececec;
