.input-modal__label {
  border: 2px solid rgba(68, 68, 68, 0.1);
  padding: 16px;
  display: block;
  cursor: pointer;
}

.input-modal__input:checked + .input-modal__label {
  border-color: #63d1bb;
}

// Tablet

@media (min-width: @tablet) {
  .input-modal__label:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }

  .input-modal__input:focus + .input-modal__label {
    border-color: rgba(68, 68, 68, 0.3);
  }

  .input-modal__input:active + .input-modal__label {
    border-color: #63d1bb;
  }
}
