.contacts {
  margin-top: 38px;
  margin-bottom: 39px;
  padding: 0 30px;
}

.contacts__list {
  .list-reset;
  color: @alternate-text;
}

.contacts__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.contacts-item__list h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
}

address {
  font-style: normal;
}
