.info-product {
  margin-top: 31px;
  padding: 0 30px;
}

.info-product__list {
  .list-reset;
}

.info-product__item {
  position: relative;
  padding-top: 83px;
}

.info-product__item--eco::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  width: 33px;
  height: 38px;
  top: 28px;
  left: 8px;
}

.info-product__item--scandi::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/icon-2.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  width: 47px;
  height: 27px;
  top: 29px;
  left: 0;
}

.info-product__item--like::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  width: 34px;
  height: 27px;
  top: 34px;
  left: 7px;
}

.info-product__item--handmade::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/icon-4.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  width: 35px;
  height: 34px;
  top: 31px;
  left: 3px;
}

.info-product__item--support::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/icon-5.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  width: 55px;
  height: 23px;
  top: 32px;
  left: -6px;
}

.info-product__item--gift::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/icon-6.svg");
  background-repeat: no-repeat;
  border-color: transparent;
  width: 33px;
  height: 32px;
  top: 30px;
  left: 3px;
}

// Tablet

@media (min-width: @tablet) {
  .info-product {
    margin-top: 57px;
    padding: 0 50px;
  }

  .info-product__title {
    padding-bottom: 14px;
  }

  .info-product__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px 0;
    font-size: 20px;
    line-height: 22px;
    padding: 0;
    margin: 0;
  }

  .info-product__item {
    min-width: 265px;
  }

  .info-product__item--eco {
    order: -1;
  }

  .info-product__item--like {
    order: 1;
  }

  .info-product__item--handmade {
    order: -1;
  }

  .info-product__item--gift {
    order: 1;
  }
}

// Desktop

@media (min-width: @desktop) {
  .info-product {
    margin: 68px 175px;
  }

  .info-product__title {
    padding-bottom: 12px;
  }
}
