.product-specification__discription {
  margin: 0;
  padding: 16px 0 19px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: @alternate-text;
}

.product-specification__list {
  .list-reset;
  font-size: 15px;
  font-weight: 400;
  color: @alternate-text;
  padding-bottom: 26px;
}

.product-specification__item {
  display: flex;
  padding-top: 9px;
  padding-bottom: 11px;
  border-bottom: 1px solid #ececec;
}

.product-specification__item h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  color: @alternate-text;
  min-width: 97px;
}

// Tablet

@media (min-width: @tablet) {
  .product-specification {
    width: 44%;
    padding-top: 21px;
    align-items: flex-start;
  }

  .product-specification__discription {
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 37px;
  }

  .product-specification__list {
    padding: 0;
  }

  .product-specification__item {
    display: flex;
    padding-top: 9px;
    padding-bottom: 11px;
  }
}

// Desktop

@media (min-width: @desktop) {
  .product-specification {
    margin-left: 133px;
    width: 292px;
  }

  .product-specification__discription {
    padding-bottom: 50px;
  }

  .product-specification__item {
    padding-top: 7px;
    padding-bottom: 13px;
  }

}
