.products {
  background-image: url("/source/img/hero-mobile.png");
  background-repeat: no-repeat;
}

.products__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.products__list {
  color: @base-color;
  .list-reset;
}

.products__item {
  padding: 24px 30px 31px;
  min-width: 140px;
}

.products__item--interiors {
  background-color: @green-light;
}

.products__item--toys {
  background-color: @green-dark;
}

.products__link {
  font-size: 19px;
  line-height: 24px;
  color: @base-color;
}

