.product-specification__list {
  .list-reset;
  font-size: 15px;
  font-weight: 400;
  color: @alternate-text;
  padding-bottom: 27px;
}

.product-specification__item {
  display: grid;
  grid-template-columns: 98px 162px;
  border-bottom: 1px solid @base-border;
  padding-top: 7px;
  padding-bottom: 12px;
}

.product-specification__item h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  color: @alternate-text;
}

