.products {
  position: relative;
  background-color: #fafafa;
}

.products__wrapper {
  padding: 71px 0 120px;
  background-color: #f9f9f9;
  position: relative;
}

.products__wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-image: url("../img/index/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -15px;
  background-size: auto 131%;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/hero-mobile@2x.jpg");
  }
}

.products__title {
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  width: 310px;
  position: relative;
  z-index: 5;
}

.products__list {
  .list-reset;
  color: @base-color;
}

.products__item--interiors {
  position: relative;
  background-color: @green-light;
}

.products__link {
  position: relative;
  padding: 24px 125px 31px 30px;
  display: block;
  height: 100%;
  font-size: 19px;
  line-height: 24px;
  color: @base-color;
}

.products__link--interiors::before {
  position: absolute;
  content: "";
  background-image: url("../img/index/interior.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 62px;
  top: 23px;
  right: 36px;
  opacity: 0.5;
  z-index: 10;
}

.products__link--toys::before {
  position: absolute;
  content: "";
  background-image: url("../img/index/toy.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 21px;
  right: 26px;
  opacity: 0.5;
  z-index: 10;
}

.products__item {
  min-height: 103px;
}

.products__item--toys {
  position: relative;
  background-color: @green-dark;
}

.products__link-text {
  display: block;
  width: 170px;
}


// Tablet

@media (min-width: @tablet) {
  .products {
    overflow: hidden;
  }

  .products__wrapper {
    padding: 85px 0 371px;
  }

  .products__wrapper::before {
    background-position: center -70px;
    background-size: auto 134%;
    background-image: url("../img/index/hero-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/hero-tablet@2x.jpg");
    }
  }

  .products::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 24px;
    background-image: url("../img/zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .products__title {
    width: 668px;
    font-size: 43px;
    line-height: 50px;
  }

  .products__list {
    width: 100%;
    min-height: 119px;
    position: relative;
    display: flex;
    z-index: 1;
    overflow: visible;
    margin: 0 auto;
    padding: 0 50px;
  }

  .products__item {
    width: 50%;
  }

  .products__link {
    padding: 25px 195px 45px 36px;
    font-size: 20px;
    line-height: 30px;
    position: relative;
  }

  .products__link::after {
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  .products__link:hover,
  .products__link:focus {
    outline: none;
    transform: translateY(-5px);
  }

  .products__link:hover::after,
  .products__link:focus::after {
    height: calc(100% + 5px);
  }

  .products__link--interiors::before {
    top: 30px;
    right: 37px;
  }

  .products__link--interiors:hover::before,
  .products__link--interiors:focus::before {
    opacity: 0.7;
  }

  .products__link--interiors:active::before {
    opacity: 0.3;
  }

  .products__link--interiors:hover,
  .products__link--interiors:focus {
    outline: none;
    background-color: #59d5bc;
  }

  .products__link--interiors::after {
    background-color: #63d1bb;
  }

  .products__link--toys::before {
    top: 30px;
    right: 34px;
  }

  .products__link--toys:hover::before,
  .products__link--toys:focus::before {
    opacity: 0.7;
  }

  .products__link--toys:active::before {
    opacity: 0.3;
  }

  .products__link--toy:hover,
  .products__link--toy:focus {
    outline: none;
    background-color: #46c1ae;
  }

  .products__link--toys::after {
    background-color: #56c3b2;
  }

  .products__link-text {
    position: relative;
    display: block;
    z-index: 3;
    width: 131px;
  }
}


// Desktop

@media (min-width: @desktop) {
  .products::after {
    height: 34px;
    background-image: url("../img/zigzag-fill-desktop.svg");
  }

  .products__title {
    font-size: 53px;
    line-height: 57px;
  }

  .products__wrapper {
    padding-bottom: 354px;
  }

  .products__wrapper::before {
    background-image: url("../img/index/hero-desktop.jpg");
    background-position: center -75px;
    background-size: auto 135%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/hero-desktop@2x.jpg");
    }
  }


  .products__list {
    width: 1050px;
    padding: 0;
  }

  .products__item {
    width: 50%;
    min-height: 135px;
    padding-bottom: 0;
  }
}
