
.products {
  background-image: @background-img;
  background-repeat: no-repeat;
  background-color: @base-color;
}

.products__title {
  font-size: 27px;
  line-height: 30px;
}

.products__list {
  .list-reset;
}

.products__item {
  background-color: @alternate-color;
}

.products__link {
  font-size: 19px;
  line-height: 24px;
  color: @base-color;
}
