.promo__text {
  margin: 0;
  padding: 0;
  color: @alternate-color;
  text-transform: uppercase;
}

.promo-discription__list {
  .list-reset;
  font-size: 15px;
  font-weight: 400;
  color: @alternate-text;
}

.promo__product-discription {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: @alternate-text;
}

.promo__price {
  line-height: 24px;
  color: @alternate-text;
}
