.reviews {
  position: relative;
  margin-top: 57px;
  padding: 0 30px 45px;
}

.reviews__title {
  padding-bottom: 14px;
}

.reviews__list {
  .list-reset;
  padding-bottom: 28px;
}

.reviews__item {
  font-weight: 400;
  line-height: 30px;
  color: @alternate-text;
  display: none;
}

.reviews__item--active {
  display: block;
}

.reviews__text {
  padding: 0;
  margin: 0;
  font-size: 15px;
  padding-bottom: 32px;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: @base-text;
}

.reviews__nikname {
  line-height: 30px;
  font-weight: 400;
  color: @alternate-text;
}

.reviews__button-slider {
  position: relative;
  margin: 0 auto;
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
  border: 1px solid @base-border;
}

.reviews__button-slider::before {
  position: absolute;
  content: "";
  border-top: 1px solid @base-border;
  height: 1px;
  width: 52px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  z-index: 1;
}

.reviews__prev,
.reviews__next {
  cursor: pointer;
  padding: 13px 42px 13px 38px;
  position: relative;
  width: 130px;
  height: 50px;
  border: none;
  background-color: transparent;
}

.reviews__prev::before,
.reviews__next::before {
  position: absolute;
  content: "";
  background-image: url("../img/index/huge-arrow-left.svg");
  background-repeat: no-repeat;
  width: 52px;
  height: 26px;
  top: 13px;
  left: 38px;
}

.reviews__next::before {
  background-image: url("../img/index/huge-arrow-right.svg");
}

.reviews__button {
  width: 100%;
}


// Tablet

@media (min-width: @tablet) {
  .reviews {
    background-image: url("../img/index/review-tablet.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0 0 68px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/review-tablet@2x.jpg");
    }
  }

  .reviews__wrapper {
    position: relative;
    margin: 0;
    padding: 83px 50px 47px;
  }

  .reviews__cantainer {
    position: relative;
  }

  .reviews__list {
    padding: 0;
  }

  .reviews__text {
    font-size: 17px;
    padding-top: 24px;
    padding-bottom: 60px;
  }

  .reviews__author-name {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 400px;
  }

  .reviews__nikname {
    font-size: 17px;
    padding-top: 5px;
  }

  .reviews__button-slider {
    border: none;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    bottom: 5px;
    width: 178px;
  }

  .reviews__button-slider::before {
    display: none;
  }

  .reviews__next,
  .reviews__prev {
    padding: 11px 0;
    width: 89px;
  }

  .reviews__next:hover,
  .reviews__prev:hover {
    opacity: 0.6;
  }

  .reviews__next:active,
  .reviews__prev:active {
    opacity: 0.3;
  }

  .reviews__next::before {
    left: 21px;
  }

  .reviews__prev::before {
    left: 22px;
  }

  .reviews__button {
    margin: 0;
    position: absolute;
    top: 79px;
    right: 50px;
    width: 175px;
  }
}

// Desktop

@media (min-width: @desktop) {
  .reviews {
    margin: 0 auto 62px;
    width: 1050px;
  }

  .reviews__wrapper {
    margin: 0;
    padding: 77px 0 100px 174px;
  }

  .reviews__cantainer {
    padding: 0;
  }

  .reviews__title {
    padding: 0;
  }

  .reviews__button {
    top: 77px;
    right: 0;
  }

  .reviews__text {
    padding-top: 35px;
    padding-bottom: 42px;
  }

  .reviews__author-name {
    font-size: 17px;
  }
}
